@model Integration_Project.Models.EventViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Event</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Event.Name" class="control-label"></label>
                <input asp-for="Event.Name" class="form-control" />
                <span asp-validation-for="Event.Name" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Event.StartDate" class="control-label"></label>
                <input asp-for="Event.StartDate" class="form-control" />
                <span asp-validation-for="Event.StartDate" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Event.EndDate" class="control-label"></label>
                <input asp-for="Event.EndDate" class="form-control" />
                <span asp-validation-for="Event.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Description" class="control-label"></label>
                <input asp-for="Event.Description" class="form-control" />
                <span asp-validation-for="Event.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.IsPrivate" /> @Html.DisplayNameFor(model => model.Event.IsPrivate)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.IsWeatherDependent" /> @Html.DisplayNameFor(model => model.Event.IsWeatherDependent)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Event.MinParticipants" class="control-label"></label>
                <input asp-for="Event.MinParticipants" class="form-control" />
                <span asp-validation-for="Event.MinParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.MaxParticipants" class="control-label"></label>
                <input asp-for="Event.MaxParticipants" class="form-control" />
                <span asp-validation-for="Event.MaxParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.CanInviteParticipants" /> @Html.DisplayNameFor(model => model.Event.CanInviteParticipants)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
