@model Integration_Project.Models.EventVenueViewModel
@{
    ViewData["Title"] = "SelectVenue";
}

<h2>SelectVenue</h2>

<h2>Venues</h2>
@using (Html.BeginForm())
{


@if (User.IsInRole("Standard"))
{
    <p>
        <a asp-action="CreateVenue">Add New</a>
    </p>
}
else
{
    <p>
        Please <a asp-area="Identity" asp-page="/Account/Login">login</a> to add a venue!
    </p>
}

<div class="row">
    @{
        foreach (Venue venue in Model.Venues)
        {

        <div class="col-sm-4">
            <div class="row">
                <button value="@venue.Id" type="submit" name="venueChoice">Select Venue</button><br />
            </div>
            <div class="row">
                @Html.Partial("_VenueSummary", venue)
            </div>
        </div>
        }
    }
</div>

 }