@model Integration_Project.Models.StandardUser

@{
    ViewData["Title"] = "Index";
}
<style>
    .main {
        -webkit-box-shadow: 0px 11px 34px 2px rgba(184,180,184,1);
        -moz-box-shadow: 0px 11px 34px 2px rgba(184,180,184,1);
        box-shadow: 0px 11px 34px 2px rgba(184,180,184,1);
    }
</style>
<div class="container main">

<h2>Hello, @Model.FirstName!</h2>

<div class="row">
    <div class="col-lg-6">
        @await Component.InvokeAsync("MyEvents", new { maxEvents = 5 })
    </div>
    <div class="col-lg-6">
        @await Component.InvokeAsync("EventsAroundMe", new { maxEvents = 5, includePrviate = false })
    </div>
</div>
<div class="row">
    @await Component.InvokeAsync("MultiPinMap", new { id = Model.Id})
</div>
</div>

