@model Integration_Project.Models.StandardUser

@{
    ViewData["Title"] = "Index";
}

<h2>Hello, User!</h2>

<div class="row">
    <div class="col-lg-6">
        @await Component.InvokeAsync("MyEvents")
    </div>
    <div class="col-lg-6">
        @await Component.InvokeAsync("EventsAroundMe")
    </div>
</div>


