@model  Integration_Project.Models.Venue

<div>

    <div class="thumbnail">
        @{ 
            var imgSrc = "Hello";
            if (Model.ProfilePicture != null)
            {
                var base64 = Convert.ToBase64String(Model.ProfilePicture);
                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            else
            {
                imgSrc = "https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg";
            }

        }
        <img src=@imgSrc alt=<img src="https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg"/>
            <div class="row">
                <div class="caption">
                    <div class="col-sm-6">
                        <h4><a asp-controller="Venues" asp-action="Details" asp-route-id="@Model.Id">
                            @{
                                if (Model.Name == null)
                                {
                                    @:ThisVenueHasNoName
                                }
                                else
                                {
                                    @:@Model.Name
                                }
                            }
                        </a></h4>
                    </div>
                    <div class="col-sm-6">
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
    </div>
</div>