@model Interest

<div class="col-sm-2 col-lg-2 col-md-2">
    <div class="thumbnail">        
        <div class="caption">            
            <p>@Model.Name</p>
            <p>@Model.Description</p>
            @*Maybe include this later*@
        </div>
    </div>
</div>
