@model  Integration_Project.Models.Venue

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="" alt="" />
        <div class="caption">
            <h5><a asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a></h5>
        </div>
    </div>
</div>