@model Integration_Project.Models.SearchViewModel

@{
    ViewData["Title"] = "Index";
}


@using (Html.BeginForm())
{
    <div class="form-group text-center container col-md-12 ">
        <div class="col-md-8 col-md-offset-2">
        <input type="search" id="text" name="text" placeholder="Whats your interest?"class="input-lg" />
        <input type="submit" class="btn" />
        </div>
    </div>
<hr />
    <div class="col-md-2">
        <b><h3>Categories</h3></b>
        <br />
        @foreach(var cat in Model.Interests)
        {
            <div>
                <button type="submit" value="@cat.Id" name="Id">@cat.Name</button>
            </div>
            <br />
        }
    </div>
    <div class="container col-md-10">
        <div class="row text-center">
            @{ 
                foreach(var eve in Model.Events)
                {
                    <div class="col-sm-4">
                        @Html.Partial("_EventSummary", eve)
                    </div>
                }
            }
        </div>
    </div>
       

}
