@model Integration_Project.Models.SearchViewModel

@{
    ViewData["Title"] = "Index";
}


@using (Html.BeginForm())
{
    <div class="form-group text-center container col-md-12 ">
        <div class="col-md-8 col-md-offset-2">
        <input type="search" id="text" name="text" placeholder="Whats your interest"class="input-lg" />
        <input type="submit" class="btn" />
        </div>
    </div>
<hr />
    <div class="col-md-2">
        Categories<br />
        <br />
        @foreach(var cat in Model.Interests)
        {
            <div>
                <button type="submit" value="@cat.Id" name="Id">@cat.Name</button>
            </div>
            <br />
        }
    </div>
    <div class="container col-md-10">
        <div class="row text-center">
            @foreach (var item in Model.Events)
            {
            <div class="col-md-3">
                <div class="card-body mb-3" style="width: 22rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Desciption</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
                
            }
        </div>
    </div>
       

}
